<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <meta charset="UTF-8">
    <title>New Person</title>
</head>
<body>

<article>

    <header>
        <nav class="clear">
            <ul>
                <li><a href="/person">Person page</a></li>
            </ul>
        </nav>
        <h1>CRUD App</h1>
    </header>

    <ul>

        <h1>New Person:</h1>

        <form th:method="POST" th:action="@{/person}" th:object="${person}">
            <label for="surname">Enter your surname: </label>
            <input type="text" th:field="*{surname}" id="surname"/>
            <div style="color: red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Name Error</div>
            <br/>
            <label for="name">Enter your name: </label>
            <input type="text" th:field="*{name}" id="name"/>
            <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
            <br/>
            <label for="age">Enter your age: </label>
            <input type="text" th:field="*{age}" id="age"/>
            <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</div>
            <br/>
            <input type="submit" value="Create!"/>
        </form>
    </ul>
</article>

</body>
</html>