<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/styles_show.css}">
    <meta charset="UTF-8">
    <title>Update person</title>
</head>
<body>

<article>
    <div class="content-wrapper">
        <header>
            <nav class="clear">
                <ul>
                    <li><a href="/person">Person page</a></li>
                    <li><a href="/person/new">New person</a></li>
                </ul>
            </nav>
            <h1>CRUD App</h1>
        </header>
    </div>
    <ul>
        <div class="container">
            <h1 class = "inf">Person information:</h1>

            <p th:text="${person.getSurname() + ', ' + person.getName()}">VALUE</p>


            <form th:method="GET" th:action="@{/person/{id}/edit(id=${person.getId()})}">
                <input class = "input-btn" type="submit" value="Edit"/>
            </form>


            <form th:method="DELETE" th:action="@{/person/{id}(id=${person.getId()})}">
                <input class = "input-btn" type="submit" value="Delete"/>
            </form>
        </div>
    </ul>
</article>

</body>
</html>